body {
  margin: 0;
  padding: 0;
  background-image: url('images.PNG'); /* Palitan ng actual image path or URL */
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  height: 90vh;
  font-family: Arial, sans-serif;
  color: rgb(15, 14, 14);
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Georgia, serif;

}

input[type="text"] {
  width: 75%;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

#results {
  margin-top: 30px;
  max-height: 500px;    
  overflow-y: auto;      
  padding-right: 10px;   
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  line-height: 1.5
}

.book {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.hidden {
  display: none; /* default: nakatago */
}










